<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.DbCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.DbCode">
        <id column="c_id" property="cId" />
        <result column="code_to_shop" property="codeToShop" />
        <result column="table" property="table" />
        <result column="c_pic" property="cPic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, code_to_shop, table, c_pic
    </sql>

</mapper>
