<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.DbOrderMapper">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zcf.pojo.DbOrder">
		<id column="o_id" property="oId" />
		<result column="o_strolley_table" property="oStrolleyTable" />
		<result column="o_subtotal" property="oSubtotal" />
		<result column="o_service_charge" property="oServiceCharge" />
		<result column="o_discounts" property="oDiscounts" />
		<result column="o_discounts_price" property="oDiscountsPrice" />
		<result column="o_discounts_remark" property="oDiscountsRemark" />
		<result column="o_state" property="oState" />
		<result column="o_total" property="oTotal" />
		<result column="o_time" property="oTime" />
		<result column="o_overtime" property="oOvertime" />
		<result column="order_to_user" property="orderToUser" />
		<result column="order_to_shop" property="orderToShop" />
		<result column="o_shop_name" property="oShopName" />
		<result column="o_shop_ename" property="oShopEname" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		o_id, o_strolley_table, o_subtotal, o_service_charge,
		o_discounts,
		o_discounts_price, o_discounts_remark, o_state, o_total,
		o_time,
		order_to_user, order_to_shop, o_shop_name, o_shop_ename,
		o_overtime
	</sql>
	<select id="getone" resultType="java.util.Map">
		SELECT
		f.*,o.*,DATE_FORMAT(o.o_time,'%Y-%m-%d %H:%i:%s') otime
		FROM
		db_food f
		LEFT JOIN db_order_food of ON of.of_foodid = f.f_id
		LEFT JOIN db_order
		o ON o.o_id = of.of_orderid
		WHERE
		o.o_id =#{oid}
	</select>
	<select id="getbyuid" resultType="java.util.Map">
		SELECT
		f.*,o.*,DATE_FORMAT(o.o_time,'%Y-%m-%d %H:%i:%s') otime
		FROM
		db_food f
		LEFT JOIN db_order_food of ON of.of_foodid = f.f_id
		LEFT JOIN db_order
		o ON o.o_id = of.of_orderid
		WHERE
		o.order_to_user=#{uid}
	</select>
	<select id="getbysid" resultType="java.util.Map">
		SELECT
		f.*,o.*,DATE_FORMAT(o.o_time,'%Y-%m-%d %H:%i:%s') otime
		FROM
		db_food f
		LEFT JOIN db_order_food of ON of.of_foodid = f.f_id
		LEFT JOIN db_order
		o ON o.o_id = of.of_orderid
		WHERE
		o.order_to_shop=#{sid}
	</select>
	<select id="today" resultMap="BaseResultMap">
		SELECT
		o.order_to_shop,
		o.order_to_user,
		o.o_discounts,
		o.o_discounts_price,
		o.o_discounts_remark,
		o.o_id,
		o.o_service_charge,
		o.o_shop_ename,
		o.o_shop_name,
		o.o_state,
		o.o_strolley_table,
		o.o_subtotal,
		DATE_FORMAT(
		o.o_time,
		'%Y-%m-%d %k:%i:%s'
		) AS o_time,
		DATE_FORMAT(
		o.o_overtime,
		'%Y-%m-%d %k:%i:%s'
		) AS o_overtime,
		o.o_total
		FROM
		`db_order` o
		WHERE
		o.o_state = '1'
		AND TO_DAYS(NOW()) - TO_DAYS(o.o_time) = 0
		AND o.order_to_shop = #{sid};
	</select>
	<select id="finishone" resultType="java.util.Map">
	SELECT
	IFNULL(o.o_id,' ')o_id,
    IFNULL(o.o_discounts,' ')o_discounts,
    IFNULL(o.o_discounts_price,' ')o_discounts_price,
    IFNULL(o.o_discounts_remark,' ')o_discounts_remark,
	IFNULL(o.o_strolley_table,' ')o_strolley_table,
	IFNULL(o.o_service_charge,' ')o_service_charge,
	IFNULL(o.o_total,' ')o_total,
	IFNULL(o.o_time,' ')o_time,
	IFNULL(o.order_to_shop,' ')order_to_shop,
	IFNULL(o.o_shop_name,' ')o_shop_name,
	IFNULL(o.o_shop_ename,' ')o_shop_ename,
	IFNULL(of.of_foodid,' ')of_foodid,
	IFNULL(of.of_remark,' ')of_remark,
	IFNULL(of.of_price,' ')of_price,
	IFNULL(f.f_name,' ')f_name,
	IFNULL(f.f_english_name,' ')f_english_name
FROM
	`db_order` o
LEFT JOIN `db_order_food` of ON o.o_id = of.of_orderid
LEFT JOIN `db_food` f ON f.f_id = of.of_foodid
WHERE
	o.o_id = #{oid};
	</select>
		<select id="bytable" resultType="java.util.Map">
SELECT
	o.o_id,
	o.o_strolley_table,
	  IFNULL(o.o_discounts,' ')o_discounts,
    IFNULL(o.o_discounts_price,' ')o_discounts_price,
    IFNULL(o.o_discounts_remark,' ')o_discounts_remark,
	o.o_service_charge,
	o.o_total,
	DATE_FORMAT(
		o.o_time,
		'%Y-%m-%d %k:%i:%s'
		) AS o_time,
	o.order_to_shop,
	o.o_shop_name,
	o.o_shop_ename,
	of.of_foodid,
	of.of_remark,
	of.of_price,
	f.f_name,
	f.f_english_name
FROM
	`db_order` o
LEFT JOIN `db_order_food` of ON o.o_id = of.of_orderid
LEFT JOIN `db_food` f ON f.f_id = of.of_foodid
WHERE
	o.o_strolley_table=#{table} AND o.order_to_shop=#{sid} AND o.o_state='0';
	</select>
			<select id="websocket" resultType="java.math.BigDecimal">
SELECT o_total from 
db_order WHERE
o_state='0' and order_to_shop=#{sid} and o_strolley_table=#{table}
	</select>
		<select id="byalltable" resultType="java.util.Map">
SELECT
	o.o_id,
	o.o_strolley_table,
	o.o_service_charge,
	o.o_total,
	o.o_time,
	o.order_to_shop,
	o.o_shop_name,
	o.o_shop_ename,
	of.of_foodid,
	of.of_remark,
	of.of_price,
	f.f_name,
	f.f_english_name
FROM
	`db_order` o
LEFT JOIN `db_order_food` of ON o.o_id = of.of_orderid
LEFT JOIN `db_food` f ON f.f_id = of.of_foodid
WHERE
	o.o_strolley_table=#{table} AND o.order_to_shop=#{sid} AND o.o_id=#{oid};
	</select>


<!-- 天数 -->

<select id="todaycount" resultType="java.lang.Integer">

select count(*) from db_order where to_days(o_time) = to_days(now());

</select>

<select id="oneday"  resultType="java.lang.Integer">

SELECT count(*)FROM db_order WHERE TO_DAYS( NOW( ) ) - TO_DAYS( o_time) = 1;

</select>

<select id="towday"  resultType="java.lang.Integer">

SELECT count(*)FROM db_order WHERE TO_DAYS( NOW( ) ) - TO_DAYS( o_time) = 2;

</select>

<select id="threeday"  resultType="java.lang.Integer">

SELECT count(*)FROM db_order WHERE TO_DAYS( NOW( ) ) - TO_DAYS( o_time) = 3;

</select>








<!-- 小时 -->


<select id="onehour" resultType="java.lang.Integer">

SELECT count(*)
FROM db_order 
WHERE o_time>DATE_ADD(NOW(),INTERVAL-1 HOUR);

</select>

<select id="towhour" resultType="java.lang.Integer">
SELECT count(*)
FROM db_order 
WHERE o_time>DATE_ADD(NOW(),INTERVAL-2 HOUR);
</select>


<select id="threehour" resultType="java.lang.Integer">

SELECT count(*)
FROM db_order 
WHERE o_time>DATE_ADD(NOW(),INTERVAL-3 HOUR);
</select>


<select id="fourhour" resultType="java.lang.Integer">
SELECT count(*)
FROM db_order 
WHERE o_time>DATE_ADD(NOW(),INTERVAL-4 HOUR);

</select>
<select id="sevenago" resultType="java.util.Map">
SELECT
	*
FROM
	(
		SELECT
			COUNT(1) AS seven
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
      AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 6 DAY)
	) seven,
	(
		SELECT
			COUNT(1) AS six
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 5 DAY)
	) six,
	(
		SELECT
			COUNT(1) AS five
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 5 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 4 DAY)
	) five,
	(
		SELECT
			COUNT(1) AS four
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 4 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 3 DAY)
	) four,
	(
		SELECT
			COUNT(1) AS three
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 3 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 2 DAY)
	) three,
	(
		SELECT
			COUNT(1) AS two
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 2 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 1 DAY)
	) two,
	(
		SELECT
			COUNT(1) AS one
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(CURDATE(), INTERVAL 1 DAY)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(CURDATE(), INTERVAL 0 DAY)
	) one
</select>
<select id="sevenhour" resultType="java.util.Map">
SELECT 
	*
FROM
	(
		SELECT
			COUNT(1) AS seven
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 7 HOUR)
      AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 6 HOUR)
	) seven,
	(
		SELECT
			COUNT(1) AS six
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 6 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 5 HOUR)
	) six,
	(
		SELECT
			COUNT(1) AS five
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 5 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 4 HOUR)
	) five,
	(
		SELECT
			COUNT(1) AS four
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 4 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 3 HOUR)
	) four,
	(
		SELECT
			COUNT(1) AS three
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 3 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 2 HOUR)
	) three,
	(
		SELECT
			COUNT(1) AS two
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 2 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 1 HOUR)
	) two,
	(
		SELECT
			COUNT(1) AS one
		FROM
			db_order o
		WHERE
			o.o_time >= DATE_SUB(now(), INTERVAL 1 HOUR)
 AND
       o.o_time <![CDATA[ <]]> DATE_SUB(now(), INTERVAL 0 HOUR)
	) one
</select>
</mapper>
