<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.DbSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.DbSet">
        <id column="set_id" property="setId" />
        <result column="set_name" property="setName" />
        <result column="set_english_name" property="setEnglishName" />
        <result column="set_state" property="setState" />
        <result column="set_shop" property="setShop" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        set_id, set_name, set_english_name, set_state ,set_shop
    </sql>
<select id="getbyfid" resultMap="BaseResultMap">
SELECT
	s.*
FROM
	db_food f
RIGHT JOIN db_set_food sf ON sf.sf_foodid = f.f_id
RIGHT JOIN db_set s ON s.set_id = sf.sf_setid
WHERE
	f.f_id = #{fid};
</select>
</mapper>
