<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.DbUserShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.DbUserShop">
        <result column="us_userid" property="usUserid" />
        <result column="us_shopid" property="usShopid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        us_userid, us_shopid
    </sql>
  <select id="byopenid" resultType="java.util.Map">
SELECT
	s.s_picture,
	s.s_id,
	s.s_name
FROM
	db_user u
LEFT JOIN db_user_shop us ON u.open_id = us.us_userid
LEFT JOIN db_shop s ON s.s_id = us.us_shopid
WHERE
	us.us_userid =#{uid}
</select>

</mapper>
